@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');
body{
    align-self: start;
    background: #eee;
    font-family: Source Sans Pro, Abril Fatface, Roboto Slab;
    font-weight: 200;   
}
.newspaper-container{
    width: 700px;
    border: 2px solid white;
    border-radius: 25px;  
    box-shadow: #ddd;
    padding: 15px;
    margin: 0%;
    background-color: white;
    color: black;
    text-align: left;
    font-family: Abril Fatface;
}
div.date{
    color: #777;
    font-weight: lighter;
}
header h1{
text-align: center;
}
nav{
    margin: 0%;
    padding:0%;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
    text-align: center;
    font-family: source sans pro;
    margin-left: 0em;
}
ul{
    padding: 0%;
}
li{
    color: #777;
    padding:0.1%;
    margin:0.1%;
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    padding: 1.2%; 
}
main{
    font-family: Roboto Slab;
    width: 100%;
}
img#main{
    width: 100%;
    object-fit: contain;
}
main h5{
    color: red;
}
img{
width: 100%;
}
section{
    border-top: 2px solid #eee; 
    display: inline-block;
    width: 40%;
    font-family: Roboto Slab;
    padding: 3%;
}
